
  body {
    margin: 0;
    background: linear-gradient(#f07c76 #ee9c97);
  } a {
    color:rgba(92, 82, 82, 0.74);
  }
  /*config-menu*/
  .header {
    background-color: #ffffff;
    box-shadow: 5px 5px 8px 0 #ff8097;
    position: fixed;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
  }
  /*cor de fundo dos botoes do menu*/
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    align-content: space-around;
  }
  /*separaçao dos botoes*/
  .header li a {
    display: block;
    padding: 5px 10px;
    border-right: 1px solid #f4f4f4;
    border-right: 1px solid ;
    text-decoration: none;
  }
  /*cor ao passar mouse no menu*/
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  /*posicao da logo*/
  .header .logo {
    display: flex;
    float: left;
    font-size: 1.5em;
    padding: 15px 30px;
    text-decoration: none;
    margin-left: 10px;
  }
  .fundo{
    background: linear-gradient (#c63637,#e2504c, #ff6961);
  }
  .card1, .card2 {
    width: 40px;
    height: 80px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px gray (0,0,0,.15);
    row-gap: 1rem;
    padding: 3rem;
    text-align: center;
    background: #eebdbc;
    border-radius: 19px;
    transform: scale(1.05);
    box-shadow: 8px 8px 8px 8px #ec3355d2;
    margin: 50px;
    margin-top: 200px;
  }
  .grafico{
    background-color: rgb(150, 144, 144);
    border-radius: 40px;
    padding: 15px;
  }
  #menu {
    position: fixed;
    left: 0;
    top: 45%;
    width: 8em;
    margin-top: -2.5em;
    background: #f7A9A8;
    border-radius: 15 px;
    text-decoration: none;
  }
.a,b{


}