
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


  .image-banner{
    display: flex;
    align-items: center;
    height:700px ;
    width: 900px;
    margin-left: 180px;
  }
  .Home{
    display: flex;
    align-items: left;
    margin-left: 1px;
  }
 
  .texto1{
    display: flex;
    align-items: center;
    margin: top ;
    float: right;
  }
  
  .box-informacoes{
    display: flex;
    justify-content: space-evenly;
    
    
  }
  
  .colunas{
    padding-left:5px;
    padding-right:5px;
  }
  .card{
    transition:0.5s;
    cursor:pointer;
  }
  
  .card:hover{
    border-radius: 10px;
    transform: scale(1.09);
    box-shadow: 8px 8px 5px #ff8097b4;
  }
  .card-text{
    height:130px;  
  }
  .banner2{
display: flex;
align-items: center;
align-content: space-around;
margin-left: 150px;

  }
  .area-imc{
  display: flex;
justify-content: center;
align-items: flex-end;
flex-direction: row;

  }
  h3{
    position: absolute;
  }
  .title1{
    display: flex;
    margin-left: 540px;
  }
  .title2{
    display: flex;
    margin-top:150px;
    margin-left: -30px;
  }
  .title3{
    display: flex;
    margin-left: 540px;
  }
  .imc-img{
    display: flex;
    float:left;
    margin: 60px;
  }

.container-imc {
width: 250px;
height: 250px;
display: flex;
flex-direction: column;
box-shadow: 0 0 15px gray (0,0,0,.15);
row-gap: 1rem;
padding: 3rem;
text-align: center;
background: #f7A9A8;
border-radius: 19px;
transform: scale(1.05);
box-shadow: 8px 8px 5px #ec3355d2;
 margin: 50px;
}

.input-form{
border: none;
background: transparent;
border-bottom:1px solid #ffe;}

#btn1 {
display: block;
font-size: 1rem;
padding: 0.5rem;
border: none;
border-radius: 10px;
cursor: pointer;
background: #ec3355d2;
color: #fff;


  }
#btn1:hover,
#btn1:focus {
    background: #e08ab9;
    cursor: pointer;
    outline: none;}

  
.saibaMais{
display: flex;
align-items: center;
align-content: space-between;
margin-left: 150px;

  }

.contato {
    display: flex;
    justify-content: space-around;
    background-color: #f87990;
    align-items: center;
    flex-direction: row;
    

}
.icones {
    display: flex;
    gap: 40px;
    padding: 10px;

    
}
  
  
