
  /*alinhar eleentos*/
  .area-cadastro{
    display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  
    }
    /*estilizacao dos cards*/
    .area-login{
      display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    
      }
      .input-form{
        border: none;
        background: transparent;
        border-bottom:1px solid #ffe;}
        
    .logar {
      width: 700px;
      height: 80px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 15px gray (0,0,0,.15);
      row-gap: 1rem;
      padding: 3rem;
      text-align: center;
      background: #f7A9A8;
      border-radius: 19px;
      transform: scale(1.05);
      box-shadow: 8px 8px 8px 8px #ec3355d2;
      margin: 50px;
      margin-top: 200px;
      align-items: center;
      align-content: center;
  
  }
  .content{
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  #btn1 {
    display: block;
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #ec3355d2;
    color: #fff;
    
    
      }
    #btn1:hover,
    #btn1:focus {
        background: #e08ab9;
        cursor: pointer;
        outline: none;}
  .contato {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #ff8097;
    
  
  }
  .icones {
    display: flex;
    gap: 40px;
    padding: 10px;
    
  
    
  }